.logo {
  width: 170px;
  height: 90px;
  margin-right: 100px;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  background-color: #53728b;
}

.bg-dark-blue {
  background-color: #001f3f;
}

.text-light-blue {
  color: #7fdbff;
}

a.text-light-blue:hover {
  color: #0074d9;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-brand {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-brand:hover {
  color: rgba(255, 255, 255, 1);
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.accordion-item {
  background-color: #40617a;
  border-radius: 10px;
  margin-bottom: 10px;
}

.accordion-header {
  background-color: #254e6b;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

.accordion-body {
  color: white;
}

.input-field {
  max-width: 400px;
  width: 100%;
}

.datepicker-container .form-control {
  width: 400px;
}
